/*--------------------******STYLES FOR LIGHT (DEFAULT) AND DARK THEMES******----------------------*/
.light {
  color: #211711;
}

.dark {
  color: #a9d04e;
}

.avocado-label {
  /* appearance: none; */
  display: inline-block;
  width: fit-content;  
  /* padding-left: 35px; */
  margin: 5px;  
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Ruda', sans-serif;
  font-weight: 600;
}

.avocado-checkbox {
  display: flex;
  flex-flow: row nowrap;
}

.avocado-input-checkbox {
  margin-right: 7px;
  background: #89c954;
  cursor: pointer;
  appearance: none;
  height: 32px;
  width: 23px;
  background-color: #a9d04e;
  display: inline-block;
  line-height: 2rem;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  border: 2px solid #211711;
}

.avocado-input-checkbox.dark {
border-color: #506308;
}

/* When the checkbox is checked, add inside avocado background */
.avocado-checkbox input:checked {
  background-color: #a9d04e;
}

/* Create the checkmark/indicator (hidden when not checked) */
.avocado-checkbox input:checked::after {
  content: "";
  position: absolute;
  left: 29px;
  top: 28px;
  width: 4px;
  height: 8.5px;
  border: solid #74332c;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.avocado-checkbox input:disabled {
  background-color: #211711;
}

.avocado-checkbox input:disabled, 
.avocado-checkbox input:disabled + label {
  cursor: default;
}