/*------------------------------------******GLOBAL STYLES******------------------------------------*/
:root {
  font-family: 'Ruda', sans-serif;
  font-weight: 600;
}

/****---BUTTON STYLES---****/

button {
  display: inline-block;
  font-family: inherit;
  font-weight: inherit;
  font-size: 1rem;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #a9d04e;
  box-shadow: .1rem .1rem .1rem .1rem #211711; 
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: #89c954;
}

button:focus {
  outline: 2px solid #211711;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}

/****---LABEL STYLES---****/

label {
  display: inline-block;
  width: fit-content;  
  margin: 5px;  
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*************************----------STYLES FOR LIGHT (DEFAULT) AND DARK THEMES-----------**********************/
.light {
  color: #211711;
}

.dark {
  color: #a9d04e;
}

/*************************************----------COMPONENT STYLES-----------************************************/

/****---CHECKBOX STYLES---****/
.avocado-checkbox {
  display: flex;
  flex-flow: row nowrap;
}

.avocado-input-checkbox {
  margin-right: 7px;
  background: #89c954;
  cursor: pointer;
  appearance: none;
  height: 32px;
  width: 23px;
  background-color: #a9d04e;
  display: inline-block;
  line-height: 2rem;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  border: 2px solid #211711;
}

.avocado-input-checkbox.dark {
border-color: #506308;
}

/* When the checkbox is checked, add inside avocado background */
.avocado-checkbox input:checked {
  background-color: #a9d04e;
}

/* Create the checkmark/indicator (hidden when not checked) */
.avocado-checkbox input:checked::after {
  content: "";
  position: absolute;
  left: 29px;
  top: 28px;
  width: 4px;
  height: 8.5px;
  border: solid #74332c;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.avocado-checkbox input:disabled {
  background-color: #211711;
}

.avocado-checkbox input:disabled, 
.avocado-checkbox input:disabled + label {
  cursor: default;
}

/****---COLOR PICKER STYLES---****/

.avocado-color-picker {
  overflow: hidden;
  padding: 0;
  display: inline-block;
  border-radius: 7px;
  border: 2px solid #211711;
  background-color: #a9d04e;
}

/****---DATE PICKER STYLES---****/
.avocado-date-picker {
  display: inline-block;
  font-family: inherit;
  font-weight: inherit;
  margin: 0;
  padding: .5rem;
  background: #a9d04e;
  border-radius: 5px;
}

.avocado-date-picker:focus {
  outline: 1px solid #74332c;
  outline-offset: -4px;
}

/****---RADIO DIV STYLES---****/

.avocado-input-radio:after {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #89c95480;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
  outline: 2px solid #211711;
}

.avocado-input-radio:checked:after {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #74332c;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
  outline: 2px solid #211711;
}

/****---RADIO GROUP STYLES---****/

.avocado-radio-group legend {
  font-size: 1.2rem;
}

/****---NUMBER SELECTOR STYLES---****/

.avocado-number-selector {
    display: inline-block;
    font-family: inherit;
    font-weight: inherit;
    margin: 0;
    padding: .5rem;
    background: #a9d04e;
    border-radius: 5px;
  }

.avocado-number-selector:focus {
  outline: 1px solid #74332c;
  outline-offset: -4px;
}